body {
    text-align: center;
    font-family: Arial;
}

.buttons {
    margin-top: 20px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease;
}

#yesBtn {
    background-color: #ff4d6d; /* pink-red */
    color: white;
}

#noBtn {
    background-color: #4d79ff; /* blue */
    color: white;
}

button:hover {
    transform: scale(1.1);
}

.video-container {
    position: relative;
    display: inline-block;
}

.watermark-cover {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 80px;   /* adjustable */
    height: 50px;  /* adjustable */

    background-color: white;
}

#languageSelect{
    width: 80px;
    height: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
}

#modeSelect{
    width: 80px;
    height: 20px;
    position: absolute;
    top: 60px;
    right: 30px;
}

#noBtn {
    transition: left 0.3s linear, top 0.3s linear;
}