<!DOCTYPE html>
<html>
<head>
    <title>Will you be my GF?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1 id="title">Will you be my girlfriend?</h1>

    <select id="languageSelect">
    <option value="en">English</option>
    <option value="zh">中文</option>
    </select>

    <select id="modeSelect">
    <option id="modeNormal" value="normal">Normal</option>
    <option id="modeHard" value="hard">Hard 😈</option>
    </select>

    <div class="video-container">

    <video id="gif" autoplay loop muted playsinline width="300"
        src="{{ url_for('static', filename='imgs/Ddit9217.mp4') }}">
    </video>

    <!-- preload videos -->
    <video id="videoSad" preload="auto" style="display:none">
        <source src="{{ url_for('static', filename='imgs/Thas2986.mp4') }}" type="video/mp4">
    </video>

    <video id="videoHappy" preload="auto" style="display:none">
        <source src="{{ url_for('static', filename='imgs/Pifv3484.mp4') }}" type="video/mp4">
    </video>

    <div class="watermark-cover"></div>

    </div>



    <div class="watermark-cover"></div>
</div>

    <div class="buttons">
        <button id="yesBtn">Yes ❤️</button>
        <button id="noBtn">No 😢</button>
    </div>

    <p id="message"></p>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>